* {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    outline: none;
}

html {
    font-size: 100px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

i {
    font-style: normal;
}

img {
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .14rem;
}

/*header*/
.header{
    width: 100%;
    height: 2.88rem;
    background:#fc3e32 ;
    position: relative;
    color: #ffffff;
}
.header i{
    display: block;
    position: absolute;
    top: 0.52rem;
    width: 0.4rem;
    height: 0.4rem;

}
.header i:nth-child(1){
    right: 1.22rem;
    background: url("../img/goods/set.png");
    background-size: 0.4rem 0.4rem;
}
.header i:nth-child(2){
    right: 0.31rem;
    background: url("../img/goods/message.png") no-repeat center center #fc3e32;
    background-size: 0.4rem 0.4rem;
}
.header span{
    position: absolute;
    top:0.46rem ;
    right:0.2rem ;
    width: 0.23rem;
    height:0.23rem ;
    background: #ffffff;
    color: #fc3e32;
    border-radius: 50%;
    text-align: center;
    line-height: 0.21rem;
    font-size: 0.21rem;
}
.header h2{
    position: absolute;
    top:0.85rem ;
    left: 0.64rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.07rem solid #fff;
    border-radius: 50%;
    background-size: 1.2rem 1.2rem;
    background: url("../img/goods/IDphoto.png") no-repeat center center ;
    background-size: 1.2rem 1.2rem;
}
.header p.tel{
    position: absolute;
    color: #ffffff;
    font-size: 0.2rem;
    left: 2.18rem;
}
.header p:nth-child(5){
    top:1.13rem ;
}
.header p:nth-child(6){
    top: 1.57rem;
}
.header div{
    position: absolute;
    width: 1rem;
    height:0.2rem ;
    font-size: 0.2rem;
    color: #ffffff;
    overflow: hidden;
}
.header div p{
    float: left;
    font-size: 0.2rem;
    line-height: 0.2rem;
}
.header div:nth-child(7){
    bottom: 0.35rem;
    left: 0.93rem;

}
.header div:nth-child(8){
    top: 1.55rem;
    right:0.2rem ;
}
.header div p.greater{
    float: right;
}

/*content*/
.content{
    background: #f6f6f6;
}
.content ul{
    height: 1.31rem;
    overflow: hidden;
    margin-bottom: 0.02rem;
   background: #f6f6f6;
}
.content ul li{
    position: relative;
    float: left;
    height:1.2rem;
    width: 1.2rem;
    margin-right: 0.3rem;
}
.content ul li:last-child{
    width: 1.18rem;
    border-left: 0.01rem solid #838383;
    background: #fff;
    margin-right: 0;
}
.content ul li:last-child div.inner{
    position: absolute;
    top: 0.51rem;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    border: 0.1rem solid transparent;
    border-left-color: #c1c1c1;
}
.content ul li:last-child div.over{
    top: 0.51rem;
    left: -0.03rem;
    border-left-color: #f6f6f6;
}

.content ul li i.unCharge{
    position: absolute;
    left: 0.3rem;
    top: 0.27rem;
    width: 0.4rem;
    height: 0.32rem;
    border-radius: 0.02rem ;
    background: url("../img/goods/unCharge.png") no-repeat center center;
    background-size: 0.4rem 0.32rem;
}
.content ul li span{
    position: absolute;
    bottom: 0.37rem;
    left: 0.2rem;
    font-size: 0.17rem;
    color: #4d4d4d;
}
.mine{
  /*  height: 0.9rem;*/
    background: #f6f6f6;
    margin-bottom: 0.36rem;
}
.mine .myWallet{
    position: relative;
    height:0.9rem ;
    padding-left: 0.36rem;
    margin-bottom: 0.02rem;
    line-height: 0.9rem;
    background: #ffffff;
    font-size: 0.26rem;
}
.mine .myWallet i{
    position: absolute;
    top: 0;
    right: 0.43rem;
    color: #fc3e32;
    font-size: 0.18rem;
}
.mine .myWallet span{
    position: absolute;
    top:0 ;
    right: 0.2rem;
    font-size: 0.2rem;
    line-height: 0.9rem;
    color: #ababab;
}
/*myCollect*/
.clear:after{
    display: block;
    clear: both;
    content: '';
    font-size: 0;
    height: 0;
}
.myList{
    height:1.2rem ;
    background: #fff;
    margin-bottom: 0.57rem;

}
.myList ul{
    overflow: hidden;
    height: 100%;
    padding: 0 0.4rem;
    background: #ffffff;
}
.myList ul li.myCollect{
    position: relative;
    width: 0.8rem;
    text-align: center;
    height: 1.2rem;
    float: left;
    margin-right:1rem ;
    border-left: 0;
}
.myList ul li.myCollect:last-child{
    position: absolute;
    right: 0.4rem;
    margin-right: 0;
}
.myList ul li.myCollect i{
    display: block;
    position: absolute;
    left: 0.1rem;
    top:0.15rem ;
    height:0.58rem;
    width: 0.58rem;
    border-radius: 0.06rem;

    background: url("../img/goods/myCollect.png") no-repeat no-repeat center;
    background-size: 0.58rem 0.58rem;
}
.myList ul li.myCollect p{
    position: absolute;
    left: 0.04rem;
    bottom: 0.12rem;
    font-size: 0.18rem;
}













    /*lastIndex*/
.main{
    position: relative;
}
.lastIndex{
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 1rem;
    background: #fff;
    border-top: 0.01rem solid #9d9c9c;
    line-height: 1rem;
}
.lastIndex ul{
    overflow: hidden;
    height: 1rem;
    position: relative;
}
.lastIndex ul li{
    float: left;
    width: 0.6rem;
    height: 0.64rem;
    margin-right: 1.08rem;
    line-height: 1rem;
    font-size: 0.2rem;
}
.lastIndex ul li .lastIndexImg{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    left: 0.55rem;
    top: 0.17rem;
}
.lastIndex ul li .lastIndexImg img{
    width: 100%;
    height: 100%;
}
.lastIndex ul li a{
    position: absolute;
    bottom: 0.17rem;
    left:0.55rem;
    height: 0.2rem;
    width: 1.1rem;
    font-size: 0.19rem;
}
.lastIndex ul li p.classic{
    position: absolute;
    top:0.2rem ;
    left:2.46rem ;
    width: 0.38rem;
    height: 0.38rem;
}
.lastIndex ul li p.classic img{
    width: 100%;
    height: 100%;
}
.lastIndex ul li p.classicCart{
    position: absolute;
    top: 0.2rem;
    right: 2.47rem;
    width: 0.38rem;
    height: 0.38rem;
}
.lastIndex ul li p.classicCart img{
    width: 100%;
    height: 100%;
}
.lastIndex ul li p.mine{
    position: absolute;
    top: 0.2rem;
    right: 0.57rem;
    width: 0.33rem;
    height: 0.38rem;
}
.lastIndex ul li p.mine img{
    width: 100%;
    height: 100%;
}
.lastIndex ul a{
    position: absolute;
    top: 0.3rem;
    font-size: 0.2rem;
}
.lastIndex ul a:nth-child(5){
    left: 0.55rem;
}
.lastIndex ul a:nth-child(6){
    left: 2.45rem;
}
.lastIndex ul a:nth-child(7){
    right: 2.38rem;
}
.lastIndex ul a:nth-child(8){
    right: 0.57rem;
}






.lastIndex ul a.selected{
    color: #fc3e32;
}
