* {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    outline: none;
}

html {
    font-size: 100px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

i {
    font-style: normal;
}

img {
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .14rem;
}

/*header*/
.header {
    position: relative;
    width: 100%;
    height: 1.25rem;
    background: #fff;
   margin-bottom: 0.02rem;
}

.header .set {
    position: relative;
    top: 0.68rem;
    left: 2.85rem;

    font-size: 0.32rem;
    color: #fc3e32;
}

.header .plus {
    position: absolute;
    top: 0.74rem;
    left: 0.24rem;
    color: #333333;
    font-weight: bold;
}

/*content*/
.content{
    width: 100%;


}
.contentHead{
    height: 1.1rem;
    background: #ffffff;
   /* line-height: 1.1rem;*/
    font-size: 0.24rem;
    position: relative;
}
.contentHead p{
    position: absolute;
}
.contentHead p:nth-child(1){
    top: 0.24rem;
    left: 0.24rem;
    color: #878787;
}
.contentHead p:nth-child(2){
    bottom: 0.22rem;
    left: 0.23rem;
    color: #878787;
}
.contentHead p:nth-child(3){
    bottom: 0.43rem;
    right: 0.21rem;
    color: #fc3e32;
}
/*receiver*/
.receiver{
    position: relative;
    width: 6.01rem;
    height: 1.5rem;
    background: #ffffff;
    margin-top: 0.2rem;
    padding-left: 0.71rem;
    padding-right: 0.48rem;
}
.receiver .icon{
    position: absolute;
    top: 0.2rem;
    left:0.21rem ;
    width: 0.3rem;
    height: 0.38rem;
    background: url("../img/goods/地址-(1)@2x.png");
    background-size: 0.3rem 0.38rem;
}
.receiver p:nth-child(2){
    position: absolute;
    top: 0.26rem;
    font-size: 0.26rem;
    color: #505050;
}
.receiver p:nth-child(3){
    position: absolute;
    top: 0.26rem;
    left: 2.28rem;
    font-size: 0.26rem;
    color: #505050;
}
.receiver p:nth-child(4){
    position: absolute;
    top: 0.71rem;
    font-size: 0.26rem;
    color: #505050;
}
/*netStore*/
.netStore{
    background: #fff;
    margin-top: 0.22rem;
}
.netStore .netHead{
    position: relative;
    width:100% ;
    height:0.72rem ;
    line-height: 0.72rem;
    font-size: 0.22rem;
    border-bottom: 0.01rem solid #f6f6f6;
}
.netStore .netHead .icon{
    position: absolute;
    top: 0.25rem;
    left: 0.2rem;
    width: 0.22rem;
    height: 0.24rem;
    background: url("../img/goods/store-1.png");
    background-size: 0.24rem 0.22rem;
}
.netStore .netHead p:nth-child(2){
    position: absolute;
    top:0;
    left: 0.56rem;
    color: #696969;
    line-height: 0.72rem;
}
.netStore .netHead p:nth-child(3){
    position: absolute;
    top:0;
    left: 2.41rem;
    color: #919191;
    line-height: 0.72rem;
}
.netStore .netContent{
    background: #ffffff;
}
.netStore .netContent .netSpec{
    position: relative;
    width: 100%;
    height: 2.3rem;
    border-top: 0.01rem solid #f6f6f6;
}
.netStore .netContent .netSpec div{
    position: absolute;
    top: 0.24rem;
    left: 0.24rem;
    width: 1.79rem;
    height: 1.79rem;
    border: 0.02rem solid #f6f6f6 ;
    border-radius: 0.06rem;
}
.netStore .netContent .netSpec div img{
    width: 100%;
    height: 100%;
}
.netStore .netContent .netSpec a{
    position: absolute;
    top: 0.5rem;
    left: 2.25rem;
    width: 3.5rem;
    color: #333;
    font-size: 0.23rem;
    line-height: 0.36rem;
}
.netStore .netContent .netSpec i{
    position: absolute;
    top: 0.54rem;
    right: 0.18rem;
    color: #fc3e32;
    font-size: 0.18rem;
}
.netStore .netContent .netSpec p:nth-child(4){
    position: absolute;
    left:2.23rem;
    bottom:0.75rem ;
    font-size: 0.23rem;
    color: #b8b8b8;
    line-height: 0.36rem;

}
.netStore .netContent .netSpec p:nth-child(5){
    position: absolute;
    left:2.23rem;
    bottom:0.4rem ;
    font-size: 0.23rem;
    color: #b8b8b8;
    line-height: 0.36rem;
}
/*contact*/
.content .contact{
    position: relative;
    width: 100%;
    height: 0.78rem;
    background: #fff;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}
.content .contact div{
    position: absolute;
    top: 0.1rem;
    left: 1.1rem;
    border: 0.01rem solid #888;
    height: 0.58rem;
    width: 4.98rem;
    border-radius: 0.02rem;
}
.content .contact div p.server{
    position: absolute;
    left: 1.81rem;
    top: 0.16rem;
    width: 0.24rem;
    height: 0.27rem;
    background: url("../img/goods/server-1.png");
    background-size: 0.24rem 0.27rem;
}
.content .contact div p:nth-child(2){
    position: absolute;
    top: 0;
    right: 1.8rem;
    height: 0.58rem;
    line-height: 0.58rem;
    font-size: 0.25rem;
}
/*charge*/
.content .charge{
    position: relative;
    overflow: hidden;
    height: 1.22rem;
    background: #ffffff;
    margin-bottom: 0.21rem;
    padding-left: 0.26rem;
    padding-right: 0.2rem;
}
.charge div.fire{
    overflow: hidden;
    width: 100%;
    height: 0.6rem;
    margin-bottom: 0.03rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
    color: #696969;
}
.charge div.fire p:nth-child(1){
    float: left;
    height: 0.6rem;
    margin-bottom: 0.03rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
    color: #696969;
}
.charge div.fire p:nth-child(2){
  /*  position: absolute;*/
    float: right;
    height: 0.6rem;
    margin-bottom: 0.03rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
    color: #696969;
}
.charge div.bill{
    overflow: hidden;
    height: 0.6rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
    color: #696969;
}
.charge div.bill p:nth-child(1){
    float: left;
}
.charge div.bill p:nth-child(2){
    float: right;
}
/*total*/
.content .Total{
    background: #fff;
    height: 1.62rem;
    margin-bottom: 0.1rem;
    padding:0.15rem 0.2rem 0.23rem 0.22rem ;
}
.totalFire{
   font-size: 0.24rem;
    line-height: 0.54rem;
    height: 0.54rem;
}
.totalFire p:nth-child(1){
    float: left;
}
.totalFire p:nth-child(2){
    float: right;
    color:#fc3e32 ;
}
/*remark*/
.remark{
    background: #fff;
    margin-bottom: 0.12rem;
    height: 1.81rem;
    line-height: 0.37rem;
    font-size: 0.32rem;
    color: #b4b4b4;
    padding-left: 0.21rem;
}
.remark p{
    font-size: 0.24rem;
    line-height: 0.37rem;
}

/*saleAfter*/
.saleAfter{
    background: #ffffff;
    height: 0.98rem;
    position: relative;
}
.saleAfter div:nth-child(1){
    position: absolute;
    left: 3.88rem;
    top: 0.18rem;
    width:1.46rem ;
    text-align: center;
    height: 0.62rem;
    line-height: 0.62rem;
    border: 0.01rem solid #d2d2d2;
    font-size: 0.26rem;
    border-radius: 0.05rem;
}
.saleAfter div:nth-child(2){
    position: absolute;
    right: 0.2rem;
    top: 0.18rem;
    width:1.46rem ;
    line-height: 0.62rem;
    text-align: center;
    height: 0.62rem;
    font-size: 0.26rem;
    border: 0.01rem solid #fc3e32;
    border-radius: 0.05rem;
    color: #fc3e32;
}






















