* {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    outline: none;
}

html {
    font-size: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}
a{
text-decoration: none;
 }
.main {
    margin: 0 auto;
    font-size: .13rem;
}

.header {
    position: relative;
    width: 100%;
    height: 1.28rem;
    background: #fff;
    margin-bottom: 0.1rem;
}
.header h2{
    position: absolute;
    top:0.71rem;
    left:2.49rem;
    width: 1.42rem;
    height: 0.34rem;
    font-size: 0.34rem;
}
.header .plus{
    position: absolute;
    left:0.16rem;
    bottom: 0.21rem;
    width: 0.21rem;
    height: 0.36rem;
    font-size: 0.36rem;
}
.header .code{
    position: absolute;
    top:0.64rem;
    right:0.11rem;
    width: 0.4rem;
    height:0.4rem;
    background: lightblue;
}
/*content*/
.content{
    position: relative;
    width: 100%;
    background: #f6f6f6;
}
.content input{
    display: block;
    width: 100%;
    height: 0.98rem;
    font-size: 0.26rem;
    border: none;
}
.content .invite {
    position: absolute;
    top:1.6rem;
    right: 1.29rem;
    width: 3.81rem;
    height: 1.16rem;
    background: #888;

    border-radius: .13rem;
}
.content .invite p{
    position: absolute;
    width: 100%;
    height: 0.27rem;
    font-size: 0.27rem;
    color: #ffffff;
    text-align: center;
}
.content .invite p.error{
    top:0.27rem;
}

.content .invite p.reInput{
    bottom: 0.27rem;
}
.nextStep{
    position: absolute;
    margin: auto;
    top:3.52rem;
    left: 0.71rem;
    width: 4.97rem;
    height: 0.88rem;
    background: #fc3e32;
    border-radius: 0.06rem;
    font-size: 0.32rem;
    color: #ffffff;
    border: none;
}




