
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
}
.header{
    position: relative;
    width: 100%;
    height:1.28rem;
    background: #fff;
}
.myCart{
    position: absolute;
    left: 2.9rem;
    bottom: 0.27rem;
    color: #333;
    font-size: 0.34rem;
}
.header p.greater{
    position: absolute;
    left: 0.24rem;
    bottom: 0.28rem;
    font-size:0.31rem ;
    color: #333;
}
.content{
    width: 100%;
    background: #f6f6f6;
}
.content .address{
    background: #fff;
}
.content .address .addressList{
    position: relative;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width:6.8rem ;
    height: 1.5rem;
    border: 0.01rem solid #f6f6f6;
}
.content .address .addressList p{
    width: 5.8rem;
    color: #434343;
}
.content .address .addressList p.owner{
    overflow: hidden;
    position: relative;
    margin-top: 0.17rem;
    font-size: 0.26rem;
    color: #434343;
}
.content .address .addressList p.owner span{
  margin-left: 1.72rem;
}
.content .address .addressList p:nth-child(2){
    margin-top: 0.29rem;
    margin-bottom: 0.14rem;
    font-size: 0.26rem;
}
.content .address .addressList p:nth-child(3){
    position: absolute;
    width: 0.4rem;
    height:0.4rem ;
    top:0.55rem;
    right:0.2rem ;
    border-radius: 0.03rem ;
}
.content .address .addressList p:nth-child(3) i{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../img/goods/edit.png");
    background-size: 0.4rem 0.4rem;
}
.content .address .default {
    position: relative;
    padding-left: 1.1rem;
    padding-right: 0.2rem;
    width:5.9rem ;
    height: 1.5rem;
    border: 0.01rem solid #f6f6f6;
}
.content .address .default p{
    width: 4.92rem;
}
.content .address .default div{
    position: absolute;
    top: 0.57rem;
    left: 0.2rem;
    width: 0.5rem;
    height: 0.36rem;
    background: url("../img/goods/rightl.png");
    background-size: 0.5rem 0.36rem;
}
.content .address .default p:nth-child(2){
    padding-left: 0.9rem;
}
.content .address .default .icon{
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    width:0.9rem ;
    height: 0.3rem;
    background:#fc3e32 ;
    text-align: center;
    line-height:0.3rem ;
    color: #ffffff;
    font-size: 0.2rem;
}
/*newAdd*/
.body{
    position: relative;
}
.newAdd{
    position: absolute;
    bottom:0.26rem ;
    left: 0.29rem;
    height: .62rem;
    line-height: .62rem;
    width: 6.6rem;
    text-align: center;
    background: #fc3e32;
    font-size: 0.28rem;
    color: #fff;
    border-radius: 0.03rem ;
}
