
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
}
.header{
    position: relative;
    width: 100%;
    height: 0.9rem;
    background: #fff;
    margin-bottom: 0.2rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    font-size: 0.34rem;
}
.header p{
    display: inline-block;
    font-size: 0.34rem;
    width: 6.6rem;
    text-align: center;
    line-height: 0.88rem;
}
.header a{
    position: absolute;
    left: 0.2rem;
    font-size: 0.34rem;
    line-height: 0.88rem;
    font-weight: bold;
}
.content{
    position: absolute;
    top: 0.9rem;
    bottom: 0.01rem;
    background: #f6f6f6;
    width: 100%;
}
.content .give{
    position: relative;
    height: 1.5rem;
}
.content .give p{
    position: absolute;
    bottom: 0.34rem;
    right:0.8rem;
    font-size: 0.36rem;
    font-weight: bold;
    color: #0c8ff0;
    text-align: center;
}
.content .give i.icon{
    display: inline-block;
    position: absolute;
    left:1.15rem ;
    bottom: 0.32rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../img/success.png") no-repeat center center;
    border-radius: 50%;
    background-size: 0.4rem 0.4rem;
}
.content .bank{
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    color: #a9a9a9;
}
.content .money{
    font-size: 0.28rem;
    line-height: 0.48rem;
    color: #a9a9a9;
    text-align: center;
    width: 100%;
}
.content .progress{
    position: relative;
    margin-top: 0.6rem;
    width: 100%;
}
.content .progress span{
    display: inline-block;
    width: 100%;
    text-align: center;
    color:#0c8ff0 ;
    font-size: 0.3rem;
}
.content .progress .more{
    position: absolute;
    right: 2.7rem;
    top: -0.05rem;
    color:#0c8ff0 ;
    font-size: 0.34rem;
    font-weight: bold;
}





