
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
}
.header{
    position: relative;
    width: 100%;
    height:1.28rem;
    background: #fff;
}
.myCart{
    position: absolute;
    left: 2.9rem;
    bottom: 0.27rem;
    color: #333;
    font-size: 0.34rem;
}
.header p.greater{
    position: absolute;
    left: 0.24rem;
    bottom: 0.28rem;
    font-size:0.31rem ;
    color: #333;
}
.content{
    background: #f6f6f6;
}
.content div div.list {
    position: relative;
    height: 2.4rem;
    background: #f6f6f6;
}
.content .list .data{
    position: absolute;
    top: 0.2rem;
    left: 2.4rem;
    font-size: 0.22rem;
    color: #888;
}
.content .list .order{
    position: absolute;
    bottom: 0;
    left: 0.2rem;
    border: 0.01rem solid #999;
    padding-left: 0.31rem;
    padding-right: 0.74rem;
    width:5.73rem;
    height: 1.78rem;
    background: #ffffff;
}
.content .list .order h2{
    position: absolute;
    top: 0.3rem;
    left: 0.31rem;
    font-size: 0.26rem;
}
.content .list .order p{
    position: absolute;
    top: 0.76rem;
    left: 0.3rem;
    width: 5.75rem;
    line-height: 0.43rem;
    font-size: 0.24rem;color: #888;
}
.content .list .order .greater{
    position: absolute;
    left: 6.53rem;
    font-size: 0.3rem;
    line-height: 0.3rem;
}


