
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
}
.header{
    position: relative;
    width: 100%;
    height:1.28rem;
    background: #fff;
    margin-bottom: 0.1rem;
}
.myCart{
    position: absolute;
    left: 2.9rem;
    bottom: 0.27rem;
    color: #333;
    font-size: 0.34rem;
}
.header p.greater{
    position: absolute;
    left: 0.24rem;
    bottom: 0.28rem;
    font-size:0.31rem ;
    color: #333;
}
.content{
    background: #f6f6f6;

}
.content div{
    background: #ffffff;
    width: 100%;
    height:5rem;
}
.content div input{
    display: block;
    font-size:0.26rem ;
    color: #b7b7b7;
    border: none;
    line-height: 0.1rem;
    padding-left: 0.2rem;
}

