
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
    position: relative;
}
.header{
    position: relative;
    width: 100%;
    height:0.9rem;
    background: #fff;
}
.myCart{
    position: absolute;
    left: 2.7rem;
    bottom: 0.27rem;
    color: #333;
    font-size: 0.34rem;
}
.header a.greater{
    position: absolute;
    left: 0.24rem;
    bottom: 0.28rem;
    font-size: 0.34rem;
    font-weight: bold;
    color: #333;
}
/*content*/
.content{
    background: #f6f6f6;
}
.commitList{
    position: relative;
    background: #fff;
    height: 5rem;
    border-top: 0.01rem solid #f6f6f6;
}
.commitList i{
    position: absolute;
    top: 0.29rem;
    left: 0.24rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background: url("../img/ptotoHead.png");
    background-size: 0.4rem 0.4rem;
}
.commitList span{
    position: absolute;
    left: 0.9rem;
    top:0.44rem ;
    font-size:0.25rem ;
    color: #5b5b5b;
}
.commitList ul{
    position: absolute;
    top:0.5rem ;
    right:0.1rem;
    overflow: hidden;
    height: 0.2rem;
    width: 1.6rem;
}
.commitList ul li{
    float: left;
    width: 0.22rem;
    height: 0.2rem;
    background: url("../img/starFour.png");
    background-size: 0.22rem 0.2rem;
    margin-right: 0.1rem;
}
.commitList ul li.select{
    width: 0.22rem;
    height: 0.2rem;
    background: url("../img/starNull.png");
    background-size: 0.22rem 0.20rem;
}
.commitList .comment{
    position: absolute;
    top:0.88rem ;
    left:0.23rem ;
    font-size: 0.21rem;
    color:#696969 ;
}
.commitList .photo{
    position: absolute;
    width: 100%;
    left: 0;
    top: 1.19rem;
    overflow: hidden;
    height:1.5rem ;
}
.commitList .photo li{
    position: relative;
    float: left;
    width:1.5rem ;
    height: 1.5rem;
    border-radius:0.06rem ;
    background:#888888 ;
    margin-left: 0.2rem;
}
.commitList .photo li img{
    width: 100%;
    height: 100%;
    display: none;
}
.commitList div{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.11rem;
}
.commitList div .product{
    width: 1.8rem;
    height: 1.8rem;
    border: 0.02rem solid #f6f6f6;
    border-radius: 0.06rem;
}
.commitList div .product img{
    width: 100%;
    height: 100%;
}
.commitList div a{
    position: absolute;
    top: 0.26rem;
    left: 2.25rem;
    font-size:0.23rem;
    line-height: 0.36rem;
    width: 3.6rem;
}
.commitList div p{
    position: absolute;
    left: 2.25rem;
    line-height: 0.38rem;
    font-size: 0.22rem;
    color: #9e9e9e;
}
.commitList div p:nth-child(3){
    top:1.04rem ;
    width: 3.6rem;
}
.commitList div p:nth-child(4){
    top:1.42rem ;
    width: 2.3rem;
}
.commitList div p.data{
   font-size: 0.18rem;
    bottom:0.49rem;
    left: 4.76rem;
    width: 2.44rem;
}

















