
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
    position: relative;
}
.header{
    position: relative;
    width: 100%;
    height:1.28rem;
    background: #fff;
}
.myCart{
    position: absolute;
    left: 2.7rem;
    bottom: 0.27rem;
    color: #333;
    font-size: 0.34rem;
}
.header p.greater{
    position: absolute;
    left: 0.24rem;
    bottom: 0.28rem;
    font-size:0.31rem ;
    color: #333;
}
/*content*/
.content{
    background: #f6f6f6;
}
.contain{
    background: #f6f6f6;
}
.content .contain .containHead{
    position: relative;
    width: 100%;
    height:1.56rem ;
    background: #fff;
    border-top: 0.01rem solid #f6f6f6;
}
.containHead span:nth-child(7){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.04rem;
    background: url("../img/goods/矩形-4-拷贝.png");
    background-size: 7.2rem 0.04rem ;
}
.containHead span:nth-child(8){
    position: absolute;
    bottom: 0;
    left: 0.45rem;
    width: 6.25rem;
    height: 0.04rem;
    background: url("../img/goods/矩形-4-拷贝-9.png");
    background-size: 6.25rem 0.04rem ;
}
.containHead p{
    position: absolute;
    color: #888;
    left: 0.21rem;
    font-size: 0.2rem;
}
.containHead p:nth-child(1){
    top: 0.26rem;
}
.containHead p:nth-child(2){
    top: 0.77rem;
}
.containHead p:nth-child(3){
    top: 1.13rem;
}
.containHead h4{
    position: absolute;
    color: #333;
}
.containHead h4:nth-child(4){
    top:0.22rem ;
    left:0.96rem ;
    font-size: 0.25rem;
}
.containHead h4:nth-child(5){
    top:0.23rem ;
    right: 0.61rem;
    font-size: 0.25rem;
}
.containHead i{
    position: absolute;
    top: 0.71rem;
    right: 0.2rem;
    font-size: 0.2rem;
    color: #ababab;
}
/*section*/
.contain .section{
    width: 100%;
    height: 4.52rem;
    margin-top: 0.2rem;
    background: #ffffff;
    margin-bottom: 0.2rem;
}

.contain .section .sectionF{
    position: relative;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
}
.contain .section .sectionF ul{
    display: inline-block;
    height: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    overflow: hidden;
}
.contain .section .sectionF ul li{
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    margin-left: 0.2rem;
    background: #fc3e32;
    line-height: 1.8rem;
}
.contain .section .sectionF p{
    position: absolute;
   top: 0rem;
    right: 0.6rem;
    font-size:0.2rem ;
    color: #333;

}
.contain .section .sectionF i{
    position: absolute;
    top: 0rem;
    right: 0.2rem;
    font-size:0.2rem ;
    color: #b0b0b0;
}
.contain .section .sectionF span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.8rem;
    height: 0.01rem;
    background: #888;
}
.contain .section .sectionS{
    position: relative;
}
.contain .section .sectionS p:nth-child(1){
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    font-size: 0.26rem;
    color: #333;
    display: inline-block;
    line-height: 0.26rem;
}
.contain .section .sectionS p:nth-child(2){
    position: absolute;
    top:0.44rem ;
    right: 0.62rem;
    font-size:0.21rem ;
    line-height: 0.21rem;
    color: #333;
}
.contain .section .sectionS p:nth-child(3){
    position: absolute;
    top:0.8rem ;
    right: 0.62rem;
    font-size:0.21rem ;
    line-height: 0.21rem;
    color: #333;
}
.contain .section .sectionS p:nth-child(4){
    position: absolute;
    top:1.16rem ;
    right: 0.62rem;
    font-size:0.21rem ;
    line-height: 0.21rem;
    color: #333;
}
.section .bill{
    position: relative;
    padding-right: 0.62rem;
    padding-left:0.2rem ;
    width: 6.38rem;
    height: 0.9rem;
    line-height: 0.9rem;
}
.section .bill p{
    display: inline-block;
    height: 0.9rem;
    line-height: 0.9rem;
}
.section .bill p:nth-child(1){
    font-size: 0.26rem;
}
.section .bill p:nth-child(2){
    float: right;
    font-size: 0.21rem;
}
.section .bill i{
    position: absolute;
    line-height: 0.9rem;
    right:0.2rem ;
    top: 0;
    font-size:0.2rem ;
    color: #b0b0b0;
}
/*coupon*/
.contain .coupon{
    position: relative;
    background: #ffffff;
    padding-left:0.2rem ;
    padding-right: 0.2rem;
    height: 0.98rem;
    line-height: 0.98rem;
}
.contain .coupon p{
    display: inline-block;
    font-size: 0.26rem;
}
.contain .coupon p:nth-child(2){
    position: absolute;
    right:0.62rem ;
    top: 0;
}

.coupon i{
    position: absolute;
    line-height: 0.98rem;
    right:0.2rem ;
    top: 0;
    font-size:0.2rem ;
    color: #b0b0b0;
}
.contain .coupon span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.8rem;
    height: 0.01rem;
    background: #888;
}
.contain .cash{
    position: relative;
    background: #ffffff;
    height: 1.44rem;
    padding-right: 0.21rem;
    padding-left: 0.2rem;
    margin-bottom: 0.2rem ;
}
.contain .cash p{
    display: inline-block;
    position: absolute;

    font-size:0.26rem ;
    color: #333;
}
.contain .cash p:nth-child(1){
    top: 0.36rem;
}
.contain .cash p:nth-child(2){
    top: 0.81rem;
}
.contain .cash i{
    position: absolute;
   right: 0.21rem;
    color: #fc3e32;
    font-size: 0.17rem;
}
.contain .cash i:nth-child(3){
    top:0.46rem ;
}
.contain .cash i:nth-child(4){
top: 0.91rem;
}
/*words*/
.words{
    height: 1rem;
    background: #ffffff;
}
.words input{
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    color:#888 ;
    font-size: 0.26rem;
    line-height: 0.26rem;
    padding-left: 0.2rem;
    border: none;
}
.contain .footer{
  overflow: hidden;
    background: #ffffff;
    height: 0.98rem;
}
.contain .footer p{
    float: right;
    font-size: 0.28rem;
    color: #fc3e32;
    display: inline-block;
    line-height: 0.98rem;
    padding-right: 0.3rem;
}
.contain .footer p i{
    font-size: 0.18rem;
    color: #fc3e32;
}
.contain .footer div{
    float: right;
    width:2.5rem;
    height: 0.98rem;
    background: #fc3e32;
    color: #ffffff;
    line-height: 0.98rem;
    text-align: center;
    font-size: 0.34rem;

}












