
* {
    margin: 0;
    padding: 0;
}
input{
    display: block;
    outline: none;
}
html {
    font-size: 100px;
}
ul li{
    list-style:none;
}
a{
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}
i{
    font-style: normal;
}
img{
    display: block;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    font-size: .13rem;
}
.header{
    position: relative;
    width: 100%;
    height: 0.9rem;
    background: #fff;
    margin-bottom: 0.1rem;
    font-size: 0.34rem;
    font-weight: bold;
}
.myCart{
    position: absolute;
    left: 3.25rem;
    bottom: 0.27rem;
    color: #333;
    font-size: 0.34rem;
}
.header a.greater{
    position: absolute;
    left: 0.24rem;
    bottom: 0.28rem;
    font-size:0.31rem ;
    color: #333;

}
/*.content{
    background: #f6f6f6;
}*/
.content .order{
    background: #ffffff;
    padding-left: 0.23rem;
    padding-top: 0.24rem;
    padding-bottom: 0.21rem;
    height: 0.65rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}
.content .order p{
    margin-bottom: 0.19rem;
    font-size: 0.24rem;
    height:0.24rem ;
    color: #5b5b5b;
}
.content .brand{
    position: relative;
    height: 1.8rem;
    padding: 0.24rem 0.18rem 0.24rem 0.24rem;
    background: #fff;
    overflow: hidden;
}
.content .brand .left{
    float: left;
    width: 1.76rem;
    height:1.76rem ;
    border: 0.02rem solid #f6f6f6;
}
.content .brand .left img{
    width: 100%;
    height: 100%;
}
.content .brand .right{

    float: right;
    padding-left: 0.2rem;
    height: 1.76rem;
    width:4.78rem;
}
.content .brand .right a{
    display: block;
    width:3.57rem ;
    font-size: 0.23rem;
    line-height: 0.36rem;
    color: #333;
}
.content .brand .right p{
    font-size: 0.23rem;
    color: #9e9e9e;
    line-height: 0.39rem;
}
.content .brand .right span{
    position: absolute;
    right:0.18rem ;
    top:0.52rem ;
    color: #fc3e32;
    font-size: 0.2rem;
}
/*chooseStar*/
.content .chooseStar{
    overflow: hidden;
    padding-left: 0.24rem;
    margin-top: 0.11rem ;
    background: #fff;
    height: 1.04rem;
    border-bottom: 0.01rem solid #f6f6f6;
}
.content .chooseStar p{
    display: inline-block;
    font-size: 0.26rem;
    line-height: 1.04rem;
    width: 1.7rem;
}
.content .chooseStar ul{
     float: right;
     height: 1.04rem;
    overflow: hidden;

 }
.content .chooseStar ul li{
    float: left;
    width: 0.28rem;
    height: 0.28rem;
    margin-right:0.1rem ;
    background: url("../img/形状-22-拷贝-8.png");
    background-size: 0.28rem 0.28rem;
    line-height: 1.04rem;
    margin-top: 0.38rem;
}
.content .chooseStar ul li.select{

    background: url("../img/评价-点击_44.png");
    background-size: 0.28rem 0.28rem;
}
.content .comment{
    position: relative;
    height: 3.97rem;
    background: #ffffff;
}
.content .comment textarea{
    display: block;
    padding-left: 0.24rem;
    font-size: 0.26rem;
    color: #b4b4b4;
    line-height: 1.24rem;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}
.content .comment i{
    position: absolute;
    bottom: 0.21rem;
    width: 0.8rem;
    height: 0.8rem;


}
.content .comment ul{
    position: absolute;
    bottom: 0.21rem;
    left: 0.24rem;
    height: 0.8rem;
}
.content .comment ul li{
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin-right: 0.1rem;
    background: url("../img/cloth.png");
    background-size: 0.8rem 0.8rem;
}
.content .comment ul li.select i{
    position: absolute;
    top: -0.09rem;
    right: -0.03rem;
    width: 0.26rem;
    height: 0.26rem;
    border-radius: 50%;
    background: url("../img/close.png");
    background-size: 0.26rem 0.26rem;
}
.content .comment ul li.camera{
    width: 1rem;
    height: 0.78rem;
    border-radius: 0.03rem;
    background: url("../img/camera.png");
    background-size: 1rem 0.78rem;
}
.content div.allProduct{
    position: relative;
    padding-left: 0.49rem;
    height: 0.24rem;
    font-size: 0.24rem;
    margin-top: 0.39rem;
    color: #333;
}
.content div.allProduct i{
    position: absolute;
    left: 0.14rem;
    display: block;
    border: 0.01rem solid #9b9b9b;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
}
.content div.allProduct i.mark{
    position: absolute;
    top: -0.02rem;
    left: -0.01rem;
    display: block;
    border: 0.01rem solid #9b9b9b;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
    background: url("../img/选中.png");
    background-size: 0.24rem 0.24rem;
}

