header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
}
header img {
  position: absolute;
  left: .5rem;
  bottom: .6rem;
  width: .4rem;
  height: .8rem;
}
header p {
  text-align: center;
  line-height: 2.5rem;
  font-size: .8rem;
}
header span {
  position: absolute;
  bottom: .6rem;
  right: .5rem;
  font-size: .6rem;
}
section {
  position: absolute;
  width: 100%;
  top: 2.5rem;
  bottom: 0;
  overflow-y: auto;
}
section .shop {
  line-height: 2rem;
  height: 2rem;
  margin-left: .6rem;
}
section .shop .shoplalala {
  font-size: .5rem;
}
section .shop img {
  vertical-align: middle;
}
section .shop .house {
  width: .6rem;
  height: .6rem;
}
section .shop .arrowright {
  width: .3rem;
  height: .45rem;
}
section .shop .coupon {
  float: right;
  margin-right: .5rem;
  font-size: .5rem;
  line-height: 2rem;
  height: 2rem;
}
section li {
  translation: transform 1s;
  transform: translateX(0) translateZ(0);
}
section .big {
  position: relative;
  height: 6rem;
  width: 18rem;
}
section .big .goodsone {
  position: relative;
}
section .big .goodsone .goods {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: .6rem;
  top: .8rem;
}
section .big .goodsone .goodsone-r {
  font-size: .6rem;
  position: absolute;
  left: 6rem;
  top: 1rem;
  width: 12rem;
  height: 4.75rem;
}
section .big .goodsone .goodsone-r .buycar {
  width: 1.45rem;
  height: 1.25rem;
  position: absolute;
  bottom: .6rem;
  right: .6rem;
}
section .big .canclestore {
  width: 3.2rem;
  height: 6rem;
  background-color: #fc3e32;
  display: inline-block;
  text-align: center;
  font-size: .5rem;
  line-height: 6rem;
  position: absolute;
  right: -3.2rem;
}
